<a href="https://colab.research.google.com/github/djdunc/hercules/blob/main/data_import/patient_viewer_seconds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seconds per step data

This script takes the P[n]_input.csv data and saves it with timing information between each step (in seconds) for use with the Processing visualisation sketch.

In [28]:
import pandas as pd
import datetime as dt

phase = 'P3' # edit which Phase you are analysing - this is used in graph and file generation
#patient = 'G1839'

df = pd.read_csv('{}_input.csv'.format(phase))
df # check what column headings in file

# df[df['Patient'] == patient].head()

,Patient,Location,starttime,endtime,xlocation,ylocation,step_length
0,G1638,"3.738,6.596",2022-03-15 11:15:51,2022-03-15 11:16:13,3.738,6.596,0 days 00:00:22
1,G1638,"5.389,5.838",2022-03-15 11:16:13,2022-03-15 11:16:14,5.389,5.838,0 days 00:00:01
2,G1638,"6.558,6.529",2022-03-15 11:16:14,2022-03-15 11:16:17,6.558,6.529,0 days 00:00:03
3,G1638,"6.665,8.759",2022-03-15 11:16:17,2022-03-15 11:16:20,6.665,8.759,0 days 00:00:03
4,G1638,"6.008,10.874",2022-03-15 11:16:20,2022-03-15 11:16:23,6.008,10.874,0 days 00:00:03
...,...,...,...,...,...,...,...
108873,R4035,"5.731,2.795",2022-04-11 12:54:18,2022-04-11 12:54:52,5.731,2.795,0 days 00:00:34
108874,R4035,"5.231,2.795",2022-04-11 12:53:56,2022-04-11 12:54:03,5.231,2.795,0 days 00:00:07
108875,R4035,"5.457,4.063",2022-04-11 12:54:03,2022-04-11 12:54:06,5.457,4.063,0 days 00:00:03
108876,R4035,"5.231,2.795",2022-04-11 12:54:06,2022-04-11 12:54:17,5.231,2.795,0 days 00:00:11
108877,R4035,"5.611,3.93",2022-04-11 12:53:54,2022-04-11 12:53:56,5.611,3.930,0 days 00:00:02

In [29]:
df['starttime'] = pd.to_datetime(df['starttime'], dayfirst=True) # datetime in YYYY-MM-DD HH:MM:SS format
df['endtime'] = pd.to_datetime(df['endtime'], dayfirst=True)

df['step_length_sec'] = (df['endtime'] - df['starttime']).astype('timedelta64[s]') 
#df[df['Patient'] == patient] 
df

,Patient,Location,starttime,endtime,xlocation,ylocation,step_length,step_length_sec
0,G1638,"3.738,6.596",2022-03-15 11:15:51,2022-03-15 11:16:13,3.738,6.596,0 days 00:00:22,22.0
1,G1638,"5.389,5.838",2022-03-15 11:16:13,2022-03-15 11:16:14,5.389,5.838,0 days 00:00:01,1.0
2,G1638,"6.558,6.529",2022-03-15 11:16:14,2022-03-15 11:16:17,6.558,6.529,0 days 00:00:03,3.0
3,G1638,"6.665,8.759",2022-03-15 11:16:17,2022-03-15 11:16:20,6.665,8.759,0 days 00:00:03,3.0
4,G1638,"6.008,10.874",2022-03-15 11:16:20,2022-03-15 11:16:23,6.008,10.874,0 days 00:00:03,3.0
...,...,...,...,...,...,...,...,...
108873,R4035,"5.731,2.795",2022-04-11 12:54:18,2022-04-11 12:54:52,5.731,2.795,0 days 00:00:34,34.0
108874,R4035,"5.231,2.795",2022-04-11 12:53:56,2022-04-11 12:54:03,5.231,2.795,0 days 00:00:07,7.0
108875,R4035,"5.457,4.063",2022-04-11 12:54:03,2022-04-11 12:54:06,5.457,4.063,0 days 00:00:03,3.0
108876,R4035,"5.231,2.795",2022-04-11 12:54:06,2022-04-11 12:54:17,5.231,2.795,0 days 00:00:11,11.0
108877,R4035,"5.611,3.93",2022-04-11 12:53:54,2022-04-11 12:53:56,5.611,3.930,0 days 00:00:02,2.0

Remove any steps that have a zero step_length time since we don't have a way to show multiple 0 readings.

In [30]:
df.drop(df.index[df['step_length_sec'] == 0], inplace = True)
df

,Patient,Location,starttime,endtime,xlocation,ylocation,step_length,step_length_sec
0,G1638,"3.738,6.596",2022-03-15 11:15:51,2022-03-15 11:16:13,3.738,6.596,0 days 00:00:22,22.0
1,G1638,"5.389,5.838",2022-03-15 11:16:13,2022-03-15 11:16:14,5.389,5.838,0 days 00:00:01,1.0
2,G1638,"6.558,6.529",2022-03-15 11:16:14,2022-03-15 11:16:17,6.558,6.529,0 days 00:00:03,3.0
3,G1638,"6.665,8.759",2022-03-15 11:16:17,2022-03-15 11:16:20,6.665,8.759,0 days 00:00:03,3.0
4,G1638,"6.008,10.874",2022-03-15 11:16:20,2022-03-15 11:16:23,6.008,10.874,0 days 00:00:03,3.0
...,...,...,...,...,...,...,...,...
108873,R4035,"5.731,2.795",2022-04-11 12:54:18,2022-04-11 12:54:52,5.731,2.795,0 days 00:00:34,34.0
108874,R4035,"5.231,2.795",2022-04-11 12:53:56,2022-04-11 12:54:03,5.231,2.795,0 days 00:00:07,7.0
108875,R4035,"5.457,4.063",2022-04-11 12:54:03,2022-04-11 12:54:06,5.457,4.063,0 days 00:00:03,3.0
108876,R4035,"5.231,2.795",2022-04-11 12:54:06,2022-04-11 12:54:17,5.231,2.795,0 days 00:00:11,11.0
108877,R4035,"5.611,3.93",2022-04-11 12:53:54,2022-04-11 12:53:56,5.611,3.930,0 days 00:00:02,2.0

In [31]:
df.step_length_sec.min()

1.0

In [32]:
# save all the data for one patient id to csv
#patient = 'G1839'
#journey = df[df['Patient'] == patient]
#print(journey.step_length_sec.sum())
#journey.to_csv('{}_journey.csv'.format(patient), index=False)

In [33]:
#journey

In [34]:
# remove any 0 value time steps then save
#patient = 'G1839'
#journey = df[df['Patient'] == patient]
#print(journey.step_length_sec.sum())
#journey.drop(journey.index[journey['step_length_sec'] == 0], inplace = True)
#journey.to_csv('{}_journey_no0.csv'.format(patient), index=False)

In [35]:
#journey

In [36]:
df.nlargest(10, 'xlocation')

,Patient,Location,starttime,endtime,xlocation,ylocation,step_length,step_length_sec
19180,G2376,"34.299,13.033",2022-03-08 13:53:36,2022-03-08 13:53:38,34.299,13.033,0 days 00:00:02,2.0
29984,G2495,"34.244,13.281",2022-03-16 11:22:32,2022-03-16 11:22:47,34.244,13.281,0 days 00:00:15,15.0
29986,G2495,"34.185,13.303",2022-03-16 11:22:13,2022-03-16 11:22:15,34.185,13.303,0 days 00:00:02,2.0
44255,G2647,"34.182,13.142",2022-05-16 12:22:33,2022-05-16 12:22:35,34.182,13.142,0 days 00:00:02,2.0
16861,G2353,"34.078,12.763",2022-03-07 12:43:05,2022-03-07 12:43:32,34.078,12.763,0 days 00:00:27,27.0
44257,G2647,"34.039,13.425",2022-05-16 12:22:38,2022-05-16 12:22:54,34.039,13.425,0 days 00:00:16,16.0
102309,R1750,"34.009,8.09",2022-05-09 16:09:27,2022-05-09 16:09:44,34.009,8.090,0 days 00:00:17,17.0
3941,G2203,"34.002,5.949",2022-02-24 11:52:52,2022-02-24 11:53:36,34.002,5.949,0 days 00:00:44,44.0
44252,G2647,"33.988,13.37",2022-05-16 12:22:13,2022-05-16 12:22:17,33.988,13.370,0 days 00:00:04,4.0
6574,G2236,"33.979,16.882",2022-02-25 14:33:01,2022-02-25 14:33:58,33.979,16.882,0 days 00:00:57,57.0

In [37]:
df.ylocation.min()

1.095

In [38]:
df.nsmallest(10, 'ylocation')

,Patient,Location,starttime,endtime,xlocation,ylocation,step_length,step_length_sec
108388,R4028,"5.231,1.095",2022-04-11 10:25:57,2022-04-11 10:26:53,5.231,1.095,0 days 00:00:56,56.0
108390,R4028,"5.731,1.095",2022-04-11 10:30:14,2022-04-11 10:30:36,5.731,1.095,0 days 00:00:22,22.0
108402,R4028,"5.731,1.095",2022-04-11 10:15:53,2022-04-11 10:15:55,5.731,1.095,0 days 00:00:02,2.0
108404,R4028,"5.231,1.095",2022-04-11 10:34:17,2022-04-11 10:34:41,5.231,1.095,0 days 00:00:24,24.0
108405,R4028,"5.731,1.095",2022-04-11 10:18:32,2022-04-11 10:18:47,5.731,1.095,0 days 00:00:15,15.0
108407,R4028,"5.231,1.095",2022-04-11 10:31:08,2022-04-11 10:31:14,5.231,1.095,0 days 00:00:06,6.0
108409,R4028,"5.231,1.095",2022-04-11 10:31:55,2022-04-11 10:32:01,5.231,1.095,0 days 00:00:06,6.0
108411,R4028,"5.231,1.095",2022-04-11 10:32:30,2022-04-11 10:32:33,5.231,1.095,0 days 00:00:03,3.0
108414,R4028,"5.231,1.095",2022-04-11 10:36:16,2022-04-11 10:36:23,5.231,1.095,0 days 00:00:07,7.0
108416,R4028,"5.731,1.095",2022-04-11 10:36:34,2022-04-11 10:36:38,5.731,1.095,0 days 00:00:04,4.0

In [39]:
df.nlargest(10, 'ylocation')

,Patient,Location,starttime,endtime,xlocation,ylocation,step_length,step_length_sec
38368,G2592,"22.083,18.253",2022-05-05 15:36:57,2022-05-05 15:38:37,22.083,18.253,0 days 00:01:40,100.0
38365,G2592,"22.035,18.241",2022-05-05 15:34:26,2022-05-05 15:36:41,22.035,18.241,0 days 00:02:15,135.0
51338,G4040,"26.373,18.22",2022-04-07 14:47:47,2022-04-07 14:48:01,26.373,18.220,0 days 00:00:14,14.0
28016,G2473,"32.609,18.217",2022-03-15 11:26:05,2022-03-15 11:26:35,32.609,18.217,0 days 00:00:30,30.0
56755,G4095,"32.102,18.208",2022-04-11 14:29:25,2022-04-11 14:29:54,32.102,18.208,0 days 00:00:29,29.0
73944,G4229,"26.714,18.204",2022-04-21 14:35:06,2022-04-21 14:35:28,26.714,18.204,0 days 00:00:22,22.0
43200,G2635,"32.376,18.203",2022-05-13 12:56:40,2022-05-13 12:56:43,32.376,18.203,0 days 00:00:03,3.0
23440,G2423,"32.181,18.2",2022-03-10 15:29:46,2022-03-10 15:30:09,32.181,18.200,0 days 00:00:23,23.0
47002,G2676,"32.594,18.199",2022-05-19 11:08:09,2022-05-19 11:08:26,32.594,18.199,0 days 00:00:17,17.0
43602,G2641,"32.153,18.196",2022-05-16 11:30:22,2022-05-16 11:30:24,32.153,18.196,0 days 00:00:02,2.0

In [40]:
sorted_df = df.sort_values(by=['Patient', 'starttime'], ascending=True)
sorted_df.to_csv('{}_input_with_sec.csv'.format(phase), index=False)